// Place all the styles related to the Organizers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    background-color: rgb(236, 236, 236);
  .links {
    padding: 10px;
    background-color: white;
    margin-right: 10px;
    float: right;
    display: inline-block;
    width: 30%;
    .item {
      font-size: 14px;
      padding: 10px 5px;
      text-align: center;
      background-color: #fdfdfd;
    }
    .emails {
      .flex-item {
        width: 80%;
        button {
          background-color: #fdfdfd;
          border-collapse: collapse;
          border-radius: 0px;
          border: none;
          border-bottom:  #cacaca solid .5px;
          padding-left: 30px;
          width: 100%;
          height: 40px;
          text-align: left;
          font-size: 13px;
        }
        button:hover{
          background-color: #ea907a;
        }
      }
    }
    .brightspace {
      .flex-item {
        width: 80%;
        button {
          background-color: #fdfdfd;
          border-collapse: collapse;
          border-radius: 0px;
          border: none;
          border-bottom: #cacaca solid .5px;
          padding-left: 30px;
          width: 100%;
          height: 40px;
          text-align: left;
          font-size: 13px;
        }
        button:hover{
          background-color: #ea907a;
        }
      }
    }
    .uvic-home {
      .flex-item {
        width: 80%;
        button {
          background-color: #fbfbfb;
          border-collapse: collapse;
          border-radius: 0px;
          border: none;
          border-bottom:  #cacaca solid .5px;
          padding-left: 30px;
          width: 100%;
          height: 40px;
          text-align: left;
          font-size: 13px;
        }
        button:hover{
          background-color: #ea907a;
        }
      }
    }
    .important {
      .flex-item {
        width: 80%;
        button {
          background-color: #fdfdfd;
          border-collapse: collapse;
          border-radius: 0px;
          border: none;
          border-bottom:  #cacaca solid .5px;
          padding-left: 30px;
          width: 100%;
          height: 40px;
          text-align: left;
          font-size: 13px;
        }
        button:hover{
          background-color: #ea907a;
        }
      }
    }
  }
  h1 {
    display: block;
    text-align: center;
    font-size: 35px;
    text-decoration-line: underline;
  }
  .other-stuff {
    background-color: white;
    width: 65%;
    padding: 10px;
    margin-left: 10px;
    h2 {
      text-align: center;
      font-size: 30px;
      text-decoration-line: underline;
    }
  }
  .other-stuff {
    #homework-button {
      button {
        border: none;
        font-size: 12px;
        border-radius: 2px;
        background-color: #ffcb74;
        width: 125px;
        padding: 5px;
        height: 30px;
        text-align: center;
        transition: all 0.25s;
      }
      button:hover {
        background-color: #ea907a;
      }
    }
    .unsubmit {
      border: none;
      font-size: 12px;
      background-color: #ffcb74;
      border-radius: 2px;
      width: 125px;
      padding: 5px;
      height: 30px;
      text-align: center;
      transition: all 0.25s;
      margin-bottom: 10px;
    }
    .unsubmit:hover {
      background-color: #ea907a;
    }
    h3 {
      font-size: 25px;
      text-decoration-line: underline;
    }
    .home-fillin {
      .homework-form {
        color: #333333;
        padding-bottom: 5px;
        display: grid;
        grid-template-columns: 75px 600px;
        .grid-item {
          width: 100%;
          padding: 5px;
          textarea {
            border: rgb(60, 60, 117) solid 0.5px;
            outline: none;
            font-family: "Roboto", sans-serif;
            font-size: 15px;
            font-weight: 700;
            border-radius: 3px;
            padding: 10px;
            resize: none;
            width: 100%;
            height: 100px;
          }
          label {
            font-size: 13px;
          }
        }
        .button {
          margin-top: 10px;
          input {
            font-family: system-ui, -apple-system, BlinkMacSystemFont,
              "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
            border-radius: 3px;
            font-size: 12px;
            border: none;
            height: 30px;
            width: 115px;
            background-color: #ffcb74;
            transition: background-color 0.5s;
            transition: all 0.25s;
          }
          input:hover {
            background-color: #ea907a;
          }
        }
      }
    }

    .homework {
      margin-top: 10px;
      border-top: #ea907a solid 0.5px;
      padding-top: 20px;
      display: flex;
      flex-direction: column;
      .flex-item {
        margin-right: auto;
        margin-left: auto;
        border-radius: 5px 5px 0 0;
        border: #aaaaaa solid .5px;
        padding: 10px;
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        header {
          font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
            Roboto, Ubuntu, "Helvetica Neue", sans-serif;
          display: flex;
          flex-direction: row;
          font-size: 14px;
          margin-bottom: 10px;
          border-bottom: #ea907a solid .5px;
          padding: 2px;
          .subject {
            width: 10%;
          }
          .date {
            width: 20%;
          }
          .reminder {
            width: 70%;
            text-align: right;
          }
        }
        .content {
          color: rgb(93, 93, 93);
          margin-left: 10px;
          margin-bottom: 10px;
          width: 95%;
          padding: 5px;
          font-size: 15px;
          font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
            Roboto, Ubuntu, "Helvetica Neue", sans-serif;
        }
        footer {
          display: flex;
          flex-direction: row;
          .done {
            flex: 1;
            margin-bottom: 10px;
            button {
              font-size: 12px;
              background-color: #ffcb74;
              border-radius: 2px;
              width: 80px;
              padding: 5px;
              height: 25px;
              text-align: center;
              transition: all 0.25s;
            }
            button:hover {
              background-color: #ea907a;
            }
          }
        }
        .edit {
          a {
            position: absolute;
            left: 61%;
            font-size: 13px;
            text-decoration-line: none;
            color: rgb(73, 73, 73);
            margin-left: 5px;
          }
        }
        .form {
          padding-top: 5px;
          border-top: #ffcb74 solid .5px;
          label {
            font-size: 15px;
          }
          input {
            font-size: 12px;
            font-weight: 700px;
            width: 350px;
          }
          .submit {
              border: none;
              background-color: #ffcb74;
              width: 75px;
              height: 23px;
              padding: 2px 5px;
              border-radius: 2px;
              transition: all .5s;
          }
          .submit:hover {
            background-color:  #ea907a;
          }
        }
        .get-notes {
          width: 80px;
          height: 20px;
          font-size: 12px;
          vertical-align: middle;
          padding: 2px;
        }
        ul {
          margin-left: 10px;
          list-style-type: none;
          .note {
            color: rgb(73, 73, 73);
            font-size: 14px;
            list-style-type: square;
            margin-bottom: 5px;
          }
        }
      }
    }
  }
  .edit-path {
    text-decoration: none;
    color: #ffcb74;
  }
}

.flex-item {
  margin-bottom: 2px;
  width: 90%;
  button {
    border: rgb(60, 60, 117) solid 0.5px;
    border-radius: 2.5px;
    height: 60px;
    font-size: 20px;
    width: 100%;
    background-color: #f4f6ff;
    transition: all 0.5s;
  }
  button:hover {
    background-color: #ea907a;
    height: 75px;
  }
}

.flex-container {
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 30px;
  width: 90%;
  display: flex;
  flex-direction: column;
}

.events {
  display: grid;
  grid-template-columns: repeat(4, 24%);
  .item {
    margin: 1%;
    text-align: center;
    padding: 15px;
    border: grey solid 1px;
    height: 80px;
    .title {
      margin-bottom: 10px;
      font-size: 18px;
      text-decoration-line: underline;
    }
    .timing {
      text-align: left;
    }
    transition: all 0.5s;
  }
  .item:hover {
    outline: grey solid 1px;
  }
}

@media screen and (max-width: 1100px) {
  body {
    .other-stuff {
      .home-fillin {
        .homework-form {
          .grid-item {
            textarea {
              width: 70%;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1250px) {
  body {
    .other-stuff {
      .homework {
        .flex-item {
          header {
            .date {
              text-align: right;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 900px) {
  body {
    .other-stuff {
      .homework {
        .flex-item {
          header {
            .date {
              display: none;
            }
            .reminder {
              width: 95%;
            }
          }
        }
      }
      .home-fillin {
        .homework-form {
          .grid-item {
            textarea {
              width: 50%;
            }
          }
        }
      }
    }
  }
}
